/* styles.css */
#loveSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .elleheee-animation {
    animation: elleheee-move 0.5s ease infinite alternate;
  }
  
  @keyframes elleheee-move {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(5px, 5px);
    }
  }



  .love-message{
    font-size:40px;
  }


  #newImageSection {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  #centeredContent {
    text-align: center;
  }
  
  


  .new-love-message{
    font-size:50px;
  }
  
  .mai{
    text-align: center;
  }
